{% extends '.\template.html'%}


{% block title_page %}
    <h2>Liste des Personas :</h2>
{% endblock title_page %}


{%block content%}
<a href="{% url 'url_persona_generate'%}">Ajouter un nouveau persona</a>
<ul>
    {% for persona in persona_list %}
        <li>
        Persona : ({{ persona.id }}) <strong><a href="{% url 'url_persona_details' persona.id %}">{{ persona.first_name }} {{ persona.last_name }}</a></strong><br/>
                Email : {{ persona.email }}
        </li>
    {% endfor %}
<ul>

{% endblock content%}
