{% extends 'template.html' %}

{%block title_page%} Détail d'un persona : {% endblock title_page %}

{%block content%}
<div class ="details_wrapper">
    <article class="details_wrapper__left">
        <h2 class="details_wrapper__left__title">Profil N° {{persona_details.id}}</h2>
        <img class="details_wrapper__lef__img" src="{{persona_details.picture}}" alt="Photo représentant le persona">
        <p class="details_wrapper__left__text" >Nom : {{persona_details.last_name}}</p>
        <p class="details_wrapper__left__text" >Prénom : {{persona_details.first_name}} </p>
        <p class="details_wrapper__left__text" >Age : {{persona_details.age}} ans</p>
    </article>

    <article class="details_wrapper__right">
        <div class="details_wrapper__right__info">
            <h2>Informations</h2>

            <div class="details_wrapper__right__section">
                <p>Identifiants : </p>
                <p>username : {{persona_details.username}}</p>
                <p>password : {{persona_details.password}}</p>
            </div>

            <div class="details_wrapper__right__section">
                <p>Contact :</p>
                <p>Email : {{persona_details.email}}</p>
            </div>

            <div class="details_wrapper__right__section">
                <p>Adresse :</p>
                <p> Numéro de rue : {{persona_details.address_number}}</p>
                <p>
                 {% if persona_details.address_street|length >= 15 %}
                    Nom de la rue : {{ persona_details.address_street|truncatechars:15 }}
                {%else%}
                    Nom de la rue :{{persona_details.address_street}}
                {% endif %}
                </p>
                <p>Code postal : {{persona_details.postcode}}</p>
                <p>Ville : {{persona_details.city}}</p>
            </div>
        </div>

        <button class="btn ">
            <a href="{% url 'url_persona_list' %}">
                Retour à la liste des Personas
            </a>
        </button>
    </article>
</div>

{%endblock content%}