{% extends 'template.html' %}

{%block title_page%} Détail d'un persona : {% endblock title_page %}

{%block content%}
    <h2>Profil de {{persona_details.first_name}} - {{persona_details.age}} ans </h2>

    <img src="{{persona_details.picture}}" width="80" height="80" alt="Photo représentant le persona">
    
    <h3>
        Numéro  {{persona_details.id}} <br>
    </h3>
    Prénom : {{persona_details.first_name}} <br>
        Nom : {{persona_details.last_name}}


    <h3>Identifiants : </h3>
    username : {{persona_details.username}} <br>
    password : {{persona_details.password}} <br>

    <h3>Contact : </h3>
    Numéro de rue : {{persona_details.address_number}} <br>
    {% if persona_details.address_street|length >= 15 %}
        Nom de la rue :{{ persona_details.address_street|truncatechars:15 }}
    {%else%}
        Nom de la rue :{{persona_details.address_street}}
    {% endif %}
    
    <h4>Adresse postale : </h4>
    Ville : {{persona_details.postcode}} -- {{persona_details.city}} <br>
    Email : {{persona_details.email}} <br><br>
    
    <a href="{% url 'url_persona_list' %}">Retour à la liste des Personas</a>
{%endblock content%}